
body {
    color: coral;
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: coral;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
}

.button:hover { background: RGBA(255, 255, 255, .4); }
.button:focus { background: RGBA(255, 255, 255, .4); }
.button:active { background: white; }

.card {
    display: inline-block;
    background-color: transparent;
    color: blue;
    font-size: larger;
    font-weight: bold;
    padding: .3em 1em;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 5px;
}

.result {
    display: inline-block;
    background-color: transparent;
    color: crimson;
    font-size: xx-large;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
}